* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

.switch-page {
  position: relative;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.switch-page.light {
  background-image: url("/switch.jpg");
}

.switch-page.dark {
  background-image: none;
  background-color: #1a1a1a;
}

.switch-button {
  position: absolute;
  left: 79.9%;
  top: 55%;
  width: 34px;
  height: 92px;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}
